:root{
    --color1: rgb(0, 0, 0);
    --color2: rgb(220, 206, 15);
    --color3: rgba(121, 115, 115, 0.265);
    --color4: rgba(220, 206, 15, 0.172);
}



body, ul{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
    color: var(--color2);
}

a:hover{
    background: var(--color3);
}

#header{
    box-sizing: border-box;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0rem .5rem .0rem 1rem;
    background: var(--color1);
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#menu{
    display: flex;
    flex-wrap: wrap;
    list-style: none;    
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem 1rem;
}

#btn-mobile{
    display: none;
    color: var(--color2);
    font-size: 1.5rem;
}

@media (max-width: 600px){
    #menu{
        /* display: hidde; */
        display: block;
        visibility: hidden;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background: var(--color1);
        height: 0px;
        transition: .5s;
        z-index: 1000;
        overflow-y: hidden;
    }
    #nav.active  #menu{
        display: block;
        visibility: visible;
        
        height: calc(100vh - 70px);
    }
    #menu a{
        padding: 1rem 0;  
        margin: 0 1rem;     
        border-bottom: 2px solid var(--color4);;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        cursor: pointer;
        background: none;
        border: none;       
        gap: .5rem; 
    }
    #hamburguer{
        border-top: 2px solid var(--color2);
        width: 25px;
        
        transform: .5s;
    }
    #hamburguer::before, #hamburguer::after{
        content: "";
        display: block;
        width: 25px;
        height: 2px;
        background: currentColor;
        margin-top: .5rem;
        transition: .3s;
    }
    #nav.active #hamburguer{
        border-top: transparent;
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
        margin-top: -2px
    }
    #nav.active #hamburguer::after{
        transform: rotate(-135deg);
        margin-top: -2px;
    }

}